---
layout: default
---

<div class="container">
    <div class="row">

        <div class="col-md-4">
            <div class="well">
                <h4>Projects</h4>
                <ul class="list-unstyled post-list-container">
                    {% for post in site.posts limit:10 %}
                    <li><a href="{{ post.url | prepend: site.baseurl }}" {% if page.title==post.title %} class="active" {% endif %}>{{ post.title }}</a></li>
                    {% endfor %}
                    <!--<li><a href="{{ "/allposts" | prepend: site.baseurl }}">All posts ...</a></li>-->
                </ul>
            </div>
        </div>

        <div class="col-md-8">
            <div class="well">
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ page.title }}</h3>
                        {% if page.img-link %}
                            <div class="img-thumbnail pull-right">
                                <img src="{{page.img-link}}" alt="{{page.img-alt}}" class="app-thumbnail" />
                            </div>
                        {% endif %}
                        {% if page.github %}
                            <p><a class="btn btn-primary btn-default" href={{page.github}} target="_blank"><em>See on Github <span class="fa fa-github"></span></em></a></p>
                        {% endif %}
                        {% if page.live %}
                            <p><a class="btn btn-success btn-default" href={{page.live}} target="_blank"><em>Test it live <span class="fa fa-external-link"></span></em></a></p>
                        {% endif %}
                        <div  id="markdown-content-container">{{ content }}</div>
                    </div>
                </div>
                <hr>
                <ul class="pager">
                    {% if page.previous %}
                    <li class="previous">
                        <a href="{{ page.previous.url | prepend: site.baseurl }}">
                            <span aria-hidden="true">&larr;</span> Older
                        </a>
                    </li>
                    {% endif %} {% if page.next %}
                    <li class="next">
                        <a href="{{ page.next.url | prepend: site.baseurl }}">
                        Newer <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
</div>
